# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake stuff
*/*/CMakeFiles/
*CMakeCache.txt
*DartConfiguration.tcl
*.cmake
*Makefile*
*install_manifest.txt
build/

#visual studio
settings.json


# generation stuff
*data
*log
*logs
*steer
*steering
*macros

*.slcio
*input*/
*output*/

# temporary files
*#*
*~
*cdb.log
*.swp


# Test directory
Playground
Arbor
MASProcessors
